* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 196px;
    width: 320px;
    background-color: #dce0e8;
    font-family: Tahoma, Geneva, sans-serif;
}

.bg-white {
    background-color: #ffffff;
}

.text-blue {
    color: #0051ce;
}

.text-light-blue {
    color: #dce0e8;
}

.text-black {
    color: #000000;
}

.text-gray {
    color: #b9b8c0;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

/* SPECIFIC */
.body-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__wrapper {
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 16px;
}

.logo-title-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header__logo {
    height: 24px;
    width: 24px;
}

.checkbox__wrapper {
    display: flex;
    justify-content: end;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #dce0e8;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0051ce;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    transform: scale(0.9);
}

input[type="checkbox"]:checked::before {
    transform: translateX(100%) scale(0.9);
    background: #fff;
}

input[type="checkbox"]:checked {
    background: #0051ce;
}

.message-box-wrapper {
    background-color: #0051ce;
    color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
}

.message-box-wrapper.multiline .message {
    max-width: 180px;
}

.message {
    font-style: italic;
    max-width: 300px;
    margin: 0 auto;
}

.message-icon {
    margin-bottom: 4px;
}
